* {
    padding: 0px;
    margin: 0px;
    font-family: 'Hubballi', cursive;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
}
html {
    scroll-behavior: smooth;
}
:root{  
     --fullpg:linear-gradient(45deg, transparent 0%, transparent 55%,rgba(64, 64, 64,0.04) 55%, rgba(64, 64, 64,0.04) 76%,transparent 76%, transparent 100%),linear-gradient(135deg, transparent 0%, transparent 14%,rgba(64, 64, 64,0.04) 14%, rgba(64, 64, 64,0.04) 41%,transparent 41%, transparent 100%),linear-gradient(45deg, transparent 0%, transparent 2%,rgba(64, 64, 64,0.04) 2%, rgba(64, 64, 64,0.04) 18%,transparent 18%, transparent 100%),linear-gradient(135deg, transparent 0%, transparent 61%,rgba(64, 64, 64,0.04) 61%, rgba(64, 64, 64,0.04) 71%,transparent 71%, transparent 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255)); 
--bcolor:white;
    --color:black;
    --aupopcolor:#ff4757;
    --acccolor:#ff4757;
    --container2:linear-gradient(442deg, rgb(68, 202, 201) 0%,rgb(252, 255, 114) 100%);
    --play:linear-gradient(135deg, rgb(68, 202, 201) 0%,rgb(252, 255, 114) 100%);
    --grabient1:white;
    --grabient2:white;
    --gracolor:black;
    --cardcolor:white;
    --headercolor:black;
    --logocolor:white;
}



.darkmode{  
    --fullpg:#130f40;
    --color:white;
    --container2: #ffbe76;
    --acccolor:#535c68;
    --aupopcolor:#ff4757;
    --bcolor:black;
    --play:black;
    --grabient1: linear-gradient(5deg, #89ff00, #060c21, #00bcd4);
    --grabient2:linear-gradient(235deg, #89ff00, #060c21, #00bcd4);
    --gracolor:white;
    --cardcolor:black;
    --headercolor:white;
    --logocolor:black;

}


.header {
    height: 100px;
    max-width:99.6%;
    display: flex;
    justify-content: center;
    position:sticky;
    top: 0px;
    z-index: 4;
}

.logo {
    text-transform: capitalize;
    font-size: 20px;
    line-height: 100px;
    margin-right: 400px;
    color: var(--color);
}

.header .menus li {
    text-transform: capitalize;
    font-weight: bold;
    display: inline;
    padding-left: 20px;
    line-height: 100px;
    cursor: pointer;
}
.header .menus li a{
    color: var(--color);

}
.header .menus {
    margin-left: 200px;
}

.header .menus a {
    text-decoration: none;
    color: var(--color);
}

#moon{
    height: 30px;
    width: 30px;
    object-fit: cover;
    cursor: pointer;
    margin-top: 35px;
    padding-left: 10px;
}

.ha,
.hb,
.hc {
    height: 4px;
    width: 25px;
    background-color: white;
    margin: 6px 0;
    transition: transform 0.5s;
    color: white;
}

.hambergur {
    cursor: pointer;
    padding-top: 30px;
    padding-left: 50px;
    display: none;
}

.change .hb {
    opacity: 0;
}

.change .ha {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .hc {
    transform: rotate(45deg) translate(-8px, -8px);
}

.menu {
    border: 1px solid black;
    height: 200px;
    max-width:95%;
    transform: scale(0, 0);
}

.menu a {
    text-decoration: none;
    color:var(--color);
    font-weight: bold;
    display: block;
    text-transform: capitalize;
    padding: 13px 0px 0px 80px;
    opacity: 1;
}

#login {
    padding: 13px 0px 0px 80px;
}

.add {
    transform: scale(1, 1);
    transition: transform 0.2s;
}

.left-container {
    height: 400px;
    width: 400px;
    margin-top: 0px;
}

.container {
    margin-top: -50px;
}

#tab {
    animation-name: tablet;
    animation-duration: 1s;
}

.left-container h1 {
    font-size: 50px;
    text-transform: capitalize;
    font-weight: bold;
    color: var(--color);
}

.left-container {
    margin-right: 190px;
    margin-top: 50px;
}

.text1,
.text1 {
    font-size: 20px;
    text-align: justify;
    color: var(--color);
}

.text1 {
    padding-top: 10px;
}

.text1{
    padding-top: 10px;
}

.mainslider {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top:5%;
}

.search {
    height: 80px;
    width: 400px;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-color: white;
}

.search i {
    margin: 20px 0px 0px 10px;
}

.search input {
    width: 260px;
    outline: none;
    padding: 20px 0px 0px 20px;
    font-weight: bolder;
    border: none;
}

#sear {
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 10px 10px 10px 10px;
}



.search-box{
   height: 50px;
    width: 400px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    cursor: pointer;
    background-color: white;
}
.search-box input{
    width: 250px;
    border: none;
    outline: none;
    font-weight: bold;
}
.search-box #i1{
    margin:20px 20px 0px 20px;
}
.search-box #i2{
        background-color:var(--aupopcolor);
    color: white;
    padding: 10px;
margin-left: 60px;
}
.fullpage{
    height: 4000px;
    max-width: 100%;
    background:var(--fullpg);
}
.coding-image{
    height: 500px;
    width: 500px;
}
.container2{
    height:350px;
    width: 1060px;
    background:var(--container2);    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.react-img-cont img{
    height: 250px;
    width: 250px;
    border-radius:20px;
    margin-top: 40px;
}
.contents{
    height: 300px;
    width: 600px;
    position: relative;
    margin-top: 30px;
    margin-right: 50px;
}
.contents h1{
    font-size: 40px;
    font-weight: bolder;
    padding: 50px 0px 0px 50px;
}
.contents p{
    font-size: 20px;
    padding: 25px 0px 0px 50px;
}
.contents a{
    text-decoration: none;
    background-color:var(--bgcolor);
    color: var(--color);
    padding: 10px;
    position: absolute;
    left: 50px;
    margin-top: 30px;
    font-weight: bold ;
}
.holder{
    display: flex;
    margin-top:40px;
    justify-content:center;
    flex-wrap:wrap;
}


.container3,.container4,.container5{
    height: 160px;
    width: 350px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
.container3{
    background-color:#1e90ff;
    margin-right: 3%;

}
.container4{
    background-color: #ff4757;
    margin-right: 3%;

 
}
.container5{
    background-color: #2ed573;
}

.dsa-img{
    height:100px;
    width: 130px;
    object-fit: cover;
    border-radius: 20px;
margin: 30px 0px 0px 20px;
}
.contents2 h1{
    font-size: 17px;
    text-transform: capitalize;
}
.contents2 a{
    text-decoration: none;
    background-color: var(--bgcolor);
    color: white;
    padding: 8px;
}
.contents2{
    margin-top:13%;
}
.contents h2{
    color: black;
    padding-left: 40px;
}

.start-{
    height: 140px;
    width: 400px;
}
.start- span{
    color: white;
}
.start- h1{
    position: relative;
    height: 40px;
    overflow: hidden;
    margin: 0px;
}
.start- .txt1{
    position: absolute;
    color: var(--color);
    text-transform: capitalize;
    font-weight: bold;
    font-size: 30px;
}
.container7{
    height: 400px;
    width: 400px;
    margin-left:500px;
    margin-top:50px;
}
.contento{
    color: var(--color);
    font-size: 18px;
}
.contento p{    letter-spacing: 1px;
}
.stt{
    text-decoration: none;
color:var(--bcolor);
background-color:var(--color);
font-weight: bold;
padding:8px;

}
.career{
    height: 50px;
    max-width: 900px;
    display: flex;
    margin-top: 100px;
    margin-left: 480px;
}


.l1,.l2{
    background-color: var(--color);
    height: 1px;
    width: 200px;
    margin:20px 10px 10px 10px;

}
.line3{ background-color: var(--color);
    width: 600px;   
     height: 1px;
    margin-top: 30px;
    margin-right: 7px;
        }
.line4{
    background-color: var(--color);
width: 600px;  
  height: 1px;
margin-top: 30px;   
 margin-left: 7px;

    
}
.dot2{
    background-color: #ff4757;
    height: 10px;
    width: 30px;
    margin-top: 25px;
    border-radius: 5px;
   

}
.caree{display: flex;
margin-top: 70px;}

.dot1{
    background-color: #ff4757;
    height: 10px;
    width: 10px;
    border-radius: 20px;
    margin-top: 15px;
}
.box {
    max-width: 500px;
    /* margin: 100px auto; //dont use this margin 100px bez each accortion will follow a gap between them of 100px; */
    margin: 10px;
}
.label {
    background-color:var(--acccolor);
    position: relative;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
}

.label::before {
    content: '+';
    position: absolute;
    top: 10px;
    right: 15px;
}

.content {
    text-align: justify;
    height: 0px;
    overflow: hidden;
    background-color: white;
    color: black;
    transition: 0.5s;
    font-size: 17px;
}

.active .content {
    height: 50px;
    padding: 14px;
}

.accortion-cont{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.accortion-cont{
    color: white;
    font-size: 30px;
    text-transform: capitalize;
}
.acc{
    height: 400px;
    width: 400px;
    margin-left: 200px;
}
.acc-tab h1{
    margin-bottom: 50px;
    color: var(--color);
}
.auto-popup{
    height: 300px;
    width: 500px;
    background-color:#ff4757 ;
    box-sizing: border-box;
    transition: all 0.2s;
    position: absolute;
    z-index: 1;
    margin-left: 500px;
    display: none;
    margin-top:5%;

}
.auto-popup  h1{
    color: white;
    text-transform: capitalize;
    font-size: 27px;
    padding: 50px 20px 20px 20px;
}
.close{
    cursor: pointer;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
}
.stack1,.stack2{
    color: #ff4757;
    font-size: 20px;
    text-transform: capitalize;
    background-color: white;
    padding: 10px;
    width: 60px;
    cursor: pointer;
    margin-left: 10px;
}
.stacks{
    display: flex;
    margin-left: 10px;
}
.auto-popup a{
    text-decoration: none;
    color: white;
    font-weight:bolder;
    text-transform: capitalize;
padding-left: 17px;}
.model-style{
    transform: scale(0);
}
.scale-in{
    display: block;
}
.stars i{
    color:gold;
    font-size:20px;
padding :20px 0px 20px 0px;
}
.rating-slider p{
    color: var(--color);
    text-transform: capitalize;
    width: 500px;
    font-size: 20px;
    text-align: justify;
}
.rating-slider h1{
    color: var(--color);
    text-transform: capitalize;
    margin-top: 10px;
}
.rating-slider{

    width: 500px;
    margin-top:100px;
    animation: ani 2s;

    margin-left: 150px;
}
@keyframes ani {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;

    }
}

.review-img{
    height: 500px;
    width: 500px;
    margin-right: 100px;
}
.slider{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.about h1{
    color:var(--color);
    font-size: 40px;
    margin-left: 200px;
    text-transform: capitalize;
}
.about{
    margin-top: 50px;
}

.play-cards{
  background:var(--play);
  background-color: black;
    height:800px;
    max-width:99.8%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card1{
    height: 520px;
    width: 280px;
  margin-top: 80px;
  margin-right: 60px;
  position: relative;
  color:var(--gracolor);
  background-color:var(--cardcolor);
  flex-wrap: wrap;
}
 .card1:before{
    content: '';
    position: absolute;
    background:var(--grabient1);
    top: -5px;
    bottom: -5px;    
    left: -5px;
    right: -5px;
    z-index: -1;

}
.card1::after {
    content: "";
    position: absolute;
    left: -5px;
    right: -5px;
    top: -5px;
    bottom: -5px;
    z-index: -2;
    background:var(--grabient2);
    filter: blur(40px);
}
.card2:before{
    content: '';
    position: absolute;
    background:var(--grabient1);

    top: -5px;
    bottom: -5px;    
    left: -5px;
    right: -5px;
    z-index: -1;

}
.card2::after {
    content: "";
    position: absolute;
    left: -5px;
    right: -5px;
    top: -5px;
    bottom: -5px;
    z-index: -2;
    background:var(--grabient2);
    filter: blur(40px);
} 
 .card3:before{
    content: '';
    position: absolute;
    background:var(--grabient1);
    top: -5px;
    bottom: -5px;    
    left: -5px;
    right: -5px;
    z-index: -1;

}
.card3::after {
    content: "";
    position: absolute;
    left: -5px;
    right: -5px;
    top: -5px;
    bottom: -5px;
    z-index: -2;
    background:var(--grabient2);
    filter: blur(40px);
} 
.card2{  
    height: 520px;
    width: 280px;
    margin-top: 80px;
    margin-right: 60px; 
    position: relative;
    color:var(--gracolor);
}
.card3{  
    height:520px;
    width: 280px;
    margin-top: 80px;
    margin-right: 0px;  
    color:var(--gracolor);
position: relative;


}
.topic{
    font-size: 28px;
    text-transform: capitalize;
    padding-top: 40px;
    padding-bottom:30px;
}
.cost{font-size: 30px;}
.topic,.cost,.card1 h3{
    text-align: center;
    padding-bottom: 25px;
}
.topic,.cost,.card2 h3{
    text-align: center;
    padding-bottom: 25px;
    text-transform: capitalize;

}

.topic,.cost,.card3 h3{
    padding-bottom: 25px;
    text-align: center;
    text-transform: capitalize;
}
.aa{
    text-decoration: none;
    text-transform: capitalize;
    margin-left:75px;
    background-color: #ff4757;
    color: white;
    padding: 10px;
}
.act{
    background-color:var(--headercolor);
   
}
.act .logo{
    color:var(--logocolor);
}
.act .menus li a{
    color: var(--logocolor);
}
.act .ha{background-color: white
    ;}
    .act .hb{background-color: white
        ;}
        .act .hc{background-color: white
            ;}

.right,.left{background-color:var(--acccolor);
position: absolute;
color: white;
top: 0px;
padding: 20px;
cursor: pointer;
}
.rel{
    position: relative;
    width: 800px;
}
.right{
right: 50px;
top: 150px;
}
.left{
top: 150px;
left: 50px;
}
.rating-slider{display: none;}
.active{
display: block;
}

.footer{
    max-width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    background:var(--container2);
}
.abt p{
    width: 300px;
    text-align: justify;
}
.news p{
    width: 300px;
    text-align: justify;

}
.footer h1{
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.visit h3{
    text-transform: capitalize;
    margin-bottom: 5px;
}
.visit i{
    font-size: 25px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
}
.news{
    margin-left:10%;
    margin-right: 5%;
    margin-top: 50px;
}
.visit{    margin-top: 50px;
}
.abt{
    margin-top: 50px;

}
.news p{
    margin-bottom: 10px;
}
.email{
    border: none;
    outline: none;
    padding: 10px;
}
.news a{
    text-decoration: none;
    font-size: 15px;
    padding: 8px;
    color: white;
    background-color: #ff4757;
}
.social-media :nth-child(1){
    color:green;
}
.social-media :nth-child(2){
    color: #341f97;
}
.social-media :nth-child(3){
   color: linear-gradient(0deg, rgb(112, 84, 203),rgb(232, 47, 180));
}
.social-media :nth-child(4){
    color: #341f97;
}
.social-media :nth-child(5){
    color: #00a8ff;
}